# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Don't commit the following directories created by pub.
.buildlog
.pub/
build/
packages
.packages
bin/logs/
logs

# Include when developing application packages.
pubspec.lock

# IntelliJ Idea
.project
*.iml
*.ipr
*.iws
.idea/
